<script lang="ts">
  import texts from "$data/about.json"
  import credits from "$data/credits.json"
</script>

<div class="w-full h-full flex flex-col items-center justify-center">
  <div class="w-full max-w-4xl mx-auto bg-white flex flex-col p-8">
    <h1 class="text-2xl font-bold pb-8 uppercase">
      Sobre
    </h1>
    {#each texts as text}
      <p class="my-2">{@html text}</p>
    {/each}
    <h1 class="text-2xl font-bold py-8 uppercase">
      Nosso time
    </h1>
    <ol>
    {#each credits as credit}
      <li class="flex">
        <div class="w-1/3 font-bold">{@html credit.name}</div>
        <div class="flex-1 font-thin">{@html credit.role}</div>
      </li>
    {/each}
    </ol>
  </div>
</div>
