<script lang="ts">
  import { page } from "$app/stores";
	import { base } from "$app/paths";
	import { fly } from "svelte/transition";
  import CanvasAnimation from "$lib/canvasAnimation.svelte";
	import Logo from "$lib/logo.svelte";

  let scroll = 0;

  function manageScroll() {
    if(!window) return
    scroll = window.scrollY
  }
</script>

<svelte:window
  on:scroll={manageScroll}
/>

<div
  transition:fly={{y: 300, opacity: 0, duration: 500}}
	class="{$page.url.pathname === `${base}/`
		? 'h-screen'
		: 'h-0'} w-full flex items-center justify-center transition-all ease-in-out"
>
	<div class="absolute w-full h-full top-0">
		<CanvasAnimation {scroll} />
	</div>
	{#if $page.url.pathname === `${base}/`}
		<div
			class="absolute w-1/2 portrait:w-4/5 z-10 text-white mix-blend-exclusion"
			style="transform: translateY(-{scroll}px)"
		>
			<Logo vertical />
		</div>
	{/if}
</div>
