<script>
	import { base } from "$app/paths";
  import Logo from "./logo.svelte";
</script>
<footer class="relative min-h-screen p-8 max-w-2xl mx-auto z-20 flex flex-col items-center justify-center">
  <div class="flex-1" />
  <Logo vertical />
  <div class="flex-1" />
  <div class="w-full flex-1 flex flex-col items-center">
    <h2>produção</h2>
    <div class="bar">
      <img
        class="mx-3"
        src="{base}/logos/sausub.svg"
        alt="" />
      <img
        class="mx-3"
        src="{base}/logos/sambacaita.svg"
        alt="" />
    </div>
    <h2>apoio financeiro</h2>
    <div class="bar">
      <img
        src="{base}/logos/aldir_blanc.svg"
        alt="Lei Aldir Blanc, Secretaria da cultura e da economia criativa, Estado de Alagoas, Governo Federal: Brasil, União e reconstrução" />
    </div>
    <h2>apoio cultural</h2>
    <div class="bar">
      <img
        class="mx-3"
        src="{base}/logos/sebrae.svg"
        alt="sebrae" />
      <img
        class="mx-3"
        src="{base}/logos/nucleozero.svg"
        alt="Núcleo Zero" />
      <img
        class="mx-3"
        src="{base}/logos/aqualtune.svg"
        alt="Festiuval Aqualtune de Cinema e Afrofuturismo" />
      <img
        class="mx-3"
        src="{base}/logos/grao.svg"
        alt="Grão Filmes" />
      <img
        class="mx-3"
        src="{base}/logos/labafera.svg"
        alt="Editora Labafera" />
    </div>
  </div>
</footer>

<style lang="postcss">
  h2 {
    @apply uppercase font-bold text-sm mt-12 mb-4;
  }

  .bar {
    @apply flex justify-center h-10 w-full;
  }

  .bar img {@apply h-full;}
</style>