<script lang="ts">
	import { base } from "$app/paths";
  import { swipe } from "svelte-gestures";
  import { cubicInOut } from "svelte/easing";

  export let params: {imgs: string[]}

  let currentImage = 0;
  let isNext = true;

  const nextPath = () => {
    isNext = true;
    currentImage =
      currentImage < params.imgs.length - 1 ? currentImage + 1 : 0;
  };

  const prevPath = () => {
    isNext = false;
    currentImage =
      currentImage > 0 ? currentImage - 1 : params.imgs.length - 1;
  };

  const changePath = (number: number) => {
    isNext = number > currentImage;
    currentImage = number;
  };

  const slide = (node: HTMLElement, { out = 1, duration = 0 }) => {
    return {
      duration,
      out,
      css: (t: number) => {
        const eased = cubicInOut(t);
        const direct = isNext ? out : -1 * out;
        return `transform: translateX(${direct * (eased * 100 - 100)}%)`;
      },
    };
  };

  const swipeHandler = (event: CustomEvent) => {
    if (event.detail.direction === "right") nextPath();
    if (event.detail.direction === "left") prevPath();
  };
</script>

<div class="relative w-full aspect-video overflow-hidden flex items-center justify-center">
  {#each params.imgs as img, key}
    {#if currentImage === key}
      <div
        use:swipe={{timeframe: 300, minSwipeDistance: 150, touchAction: null }}
        on:swipe={swipeHandler}
        in:slide|local={{ duration: 750 }}
        out:slide|local={{ out: -1, duration: 750 }}
        class="absolute w-full h-full flex items-center justify-center"
      >
        <img
          class="object-contain self-stretch"
          src="{base}/images/{img}"
          alt="XXX"
        />
      </div>
    {/if}
  {/each}
  <div class="absolute bottom-0 w-1/2 flex justify-center my-2 items-center">
    {#each params.imgs as option, key}
      <button
        class="{currentImage === key
          ? 'w-3 h-3 opacity-100'
          : 'w-2 h-2 opacity-60'} mx-1 rounded-full bg-white transition-all duration-500"
        on:click={() => changePath(key)}
      />
    {/each}
  </div>

  <button
    use:swipe={{ timeframe: 300, minSwipeDistance: 150, touchAction: null }}
    on:swipe={swipeHandler}
    class="absolute h-full w-1/3 top-0 left-0 p-5 flex items-center"
    on:click={prevPath}
  >
    <div class="round-button">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
        />
      </svg>
    </div>
  </button>
  <button
    use:swipe={{ timeframe: 300, minSwipeDistance: 150, touchAction: null }}
    on:swipe={swipeHandler}
    class="absolute h-full w-1/3 top-0 right-0 p-5 flex items-center justify-end"
    on:click={nextPath}
  >
    <div class="round-button">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
        />
      </svg>
    </div>
  </button>
</div>

<style lang="postcss">
 .round-button {
    @apply w-12 h-12 p-3 bg-white bg-opacity-50 rounded-full transition-all;
 }

 .round-button:hover {
    @apply bg-opacity-100;
 }
</style>
