<script lang="ts">
  export let vertical = false;
</script>

{#if vertical}
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 441.65 172.6">
  <g>
    <path class="cls-1" d="M44.2,57.8H16.7v35.7H0V8.3H16.7V43h27.5V8.3h16.7V93.5h-16.7V57.8Z"/>
    <path class="cls-1" d="M120.9,48l.6-13.3h-.7l-13.6,22.3h-2.9l-14.2-22.3h-.6l.7,11.9v46.8h-15.8V8.2h16.9l14.6,23.6h.5l14.5-23.6h16.8V93.4h-16.7V48h-.1Z"/>
    <path class="cls-1" d="M199,64.8h13.4v24.4c-2.6,1.9-5.9,3.3-9.9,4.4s-8.1,1.6-12.4,1.6c-5.4,0-10.5-.8-15.3-2.4-4.8-1.6-9.1-4.1-12.7-7.7-3.7-3.5-6.6-8.1-8.8-13.8-2.2-5.6-3.3-12.5-3.3-20.5,0-8.4,1.2-15.4,3.7-21s5.7-10.2,9.6-13.6c3.9-3.4,8.2-5.9,13-7.4s9.5-2.3,14.1-2.3c4.9,0,9,.4,12.4,1.2,3.4,.8,6.1,1.7,8.3,2.8v25.3h-13.3v-13.9c-2.5-.4-5.1-.6-7.8-.6-3.2,0-6.1,.6-8.8,1.8-2.7,1.2-5.1,3-7.1,5.4s-3.6,5.5-4.7,9.2c-1.1,3.7-1.7,8.1-1.7,13.1,0,4.4,.5,8.4,1.6,12s2.6,6.7,4.6,9.3,4.5,4.6,7.4,6,6.2,2.1,10,2.1c2.7,0,5.3-.2,7.8-.7l-.1-14.7h0Z"/>
    <path class="cls-1" d="M322.7,49.7l-24.1-41.5h19.5l12.4,23.1,2.8,6.2,2.7-6.2,12.7-23.1h18.9l-24.5,41.6,25.2,43.6h-19.5l-13-24.4-3.3-6.6-3.2,6.6-13.6,24.4h-18.9l25.9-43.7Z"/>
    <path class="cls-1" d="M378.9,9.1c1.9-.3,3.9-.6,6-.9s4.3-.5,6.5-.7c2.1-.2,4.2-.3,6.3-.4,2-.1,3.9-.1,5.6-.1,4,0,7.9,.4,11.7,1.2,3.9,.8,7.3,2.1,10.3,4,3,1.9,5.5,4.4,7.3,7.5,1.8,3.2,2.7,7.1,2.7,11.8,0,3.5-.3,6.5-1,9.1s-1.6,4.8-2.9,6.8c-1.2,1.9-2.7,3.6-4.4,5.1-1.7,1.4-3.6,2.7-5.7,3.8l20.6,37.3h-19.1l-17.2-33.4h-10v33.4h-16.7V9.1h0Zm25.6,12.8c-1.7,0-3.4,0-5.1,.1s-2.9,.2-3.8,.5v24.7h6.6c4.6,0,8.4-1.1,11.3-3.2s4.4-5.6,4.4-10.5c0-3.7-1.1-6.5-3.4-8.6-2.3-2-5.6-3-10-3Z"/>
  </g>
  <path class="cls-1" d="M249.9,0h13V101.1h-13V0Z"/>
  <g>
    <path class="cls-1" d="M8.7,133.5H3.7v6.5H.7v-15.4H3.7v6.3h5v-6.3h3v15.4h-3v-6.5Z"/>
    <path class="cls-1" d="M25.7,136.5h-4.6l-1.1,3.4h-3l5-15.4h3l5,15.4h-3.2l-1.1-3.4Zm-3.9-2.4h3.3l-1.6-5.2h-.2l-1.5,5.2Z"/>
    <path class="cls-1" d="M45.8,128.1c0,.4,0,.8-.1,1.1-.1,.4-.3,.7-.5,1s-.5,.6-.9,.8-.8,.4-1.3,.5v.1c.4,.1,.9,.2,1.3,.4,.4,.2,.7,.4,1,.7s.5,.7,.7,1.1,.3,1,.3,1.6c0,.8-.2,1.5-.5,2.1s-.8,1.1-1.4,1.4c-.6,.4-1.2,.6-1.9,.8s-1.5,.3-2.2,.3h-2.3c-.4,0-.9-.1-1.4-.1s-.9-.1-1.3-.2v-15.2c.3,0,.6-.1,1-.1s.7-.1,1.2-.1c.4,0,.8-.1,1.3-.1h1.3c.7,0,1.4,.1,2.1,.2s1.3,.3,1.8,.6,1,.7,1.3,1.2c.3,.5,.5,1.1,.5,1.9Zm-6.5,2.9h.7c.3,0,.5,0,.7-.1,.6-.2,1.1-.4,1.5-.8,.4-.3,.6-.8,.6-1.4,0-.4-.1-.7-.2-.9-.2-.2-.3-.4-.6-.6-.2-.1-.5-.2-.8-.3s-.6-.1-1-.1h-1.1c-.3,0-.6,0-.8,.1v4.1h1Zm.9,6.6c.4,0,.7,0,1.1-.1,.3-.1,.7-.2,.9-.4,.3-.2,.5-.4,.6-.7,.2-.3,.2-.6,.2-1,0-.5-.1-.9-.3-1.1-.2-.3-.4-.5-.8-.6-.3-.2-.7-.3-1-.3-.4,0-.8-.1-1.1-.1h-1.6v4.2c.1,0,.2,.1,.4,.1h1.6Z"/>
    <path class="cls-1" d="M52.4,137.3h3.9v-10.1h-3.9v-2.7h10.9v2.7h-3.9v10.1h3.9v2.7h-10.9v-2.7Z"/>
    <path class="cls-1" d="M71.1,137.5h2.5v-10.6h-2.1v2.7h-2.4v-5.1h12.1v5.1h-2.4v-2.7h-2.1v10.6h2.5v2.4h-8l-.1-2.4h0Z"/>
    <path class="cls-1" d="M94.5,136.5h-4.6l-1.1,3.4h-3l5-15.4h3l5,15.4h-3.2l-1.1-3.4Zm-3.9-2.4h3.3l-1.6-5.2h-.2l-1.5,5.2Z"/>
    <path class="cls-1" d="M105.5,137.5h2.5v-10.6h-2.1v2.7h-2.4v-5.1h12.1v5.1h-2.4v-2.7h-2.1v10.6h2.5v2.4h-8l-.1-2.4h0Z"/>
    <path class="cls-1" d="M146.6,131.7l.1-2.4h-.1l-2.5,4h-.5l-2.6-4h-.1l.1,2.2v8.5h-2.9v-15.4h3.1l2.6,4.3h.1l2.6-4.3h3v15.4h-3v-8.3h.1Z"/>
    <path class="cls-1" d="M156,124.5h10.1v2.7h-7.1v3.6h6.6v2.7h-6.6v3.8h7.2v2.7h-10.2v-15.5Z"/>
    <path class="cls-1" d="M173.1,134.9h2.4v2.2h.1c.3,.1,.7,.3,1.1,.4s.8,.1,1.3,.1c.8,0,1.5-.2,1.9-.5s.7-.8,.7-1.3-.2-.9-.6-1.2c-.4-.3-.8-.6-1.4-.8-.6-.2-1.2-.5-1.8-.7-.7-.2-1.3-.5-1.8-.9-.6-.4-1-.8-1.4-1.4-.4-.5-.6-1.2-.6-2.1,0-.7,.1-1.3,.4-1.8,.3-.6,.6-1,1.1-1.4s1-.7,1.7-.9c.6-.2,1.4-.3,2.2-.3,.9,0,1.8,.1,2.6,.2,.9,.2,1.6,.4,2.1,.7v4.5h-2.3v-2.4h-.1c-.3-.1-.7-.2-1-.2-.4-.1-.7-.1-1.1-.1-.7,0-1.3,.1-1.7,.4-.4,.3-.6,.7-.6,1.1,0,.5,.2,.9,.6,1.2,.4,.3,.8,.6,1.4,.8,.6,.3,1.2,.5,1.8,.8,.7,.3,1.3,.6,1.8,.9,.6,.4,1,.8,1.4,1.4,.4,.5,.6,1.2,.6,2.1,0,.8-.1,1.5-.4,2.1s-.7,1.1-1.2,1.5-1.2,.7-1.9,.9-1.5,.3-2.3,.3c-.6,0-1.1,0-1.6-.1s-.9-.2-1.3-.3c-.4-.1-.8-.3-1.1-.4-.3-.1-.6-.3-.7-.4v-4.4h-.3Z"/>
    <path class="cls-1" d="M191.5,137.5h2.5v-10.6h-2.1v2.7h-2.4v-5.1h12.1v5.1h-2.4v-2.7h-2.1v10.6h2.5v2.4h-8l-.1-2.4h0Z"/>
    <path class="cls-1" d="M207.3,137.3h3.9v-10.1h-3.9v-2.7h10.9v2.7h-3.9v10.1h3.9v2.7h-10.9v-2.7Z"/>
    <path class="cls-1" d="M233.1,134.8h2.4v4.4c-.5,.3-1.1,.6-1.8,.8-.4,.1-.8,.2-1.2,.2l-.4,.7c.6,.1,1.1,.2,1.4,.5s.5,.7,.5,1.2c0,.3-.1,.6-.3,.9-.2,.2-.4,.5-.7,.6-.3,.2-.6,.3-1,.4s-.8,.1-1.3,.1-.9,0-1.4-.1l.2-1.1h.5c.6,0,.9-.1,1.1-.2s.2-.3,.2-.5c0-.4-.6-.6-1.9-.7l1.1-1.8c-.7-.1-1.3-.2-1.9-.4-.9-.3-1.6-.8-2.3-1.4s-1.2-1.5-1.6-2.5-.6-2.3-.6-3.7c0-1.5,.2-2.8,.7-3.8,.4-1,1-1.8,1.7-2.5,.7-.6,1.5-1.1,2.4-1.3,.9-.3,1.7-.4,2.6-.4s1.6,.1,2.2,.2,1.1,.3,1.5,.5v4.6h-2.4v-2.5c-.5-.1-.9-.1-1.4-.1-.6,0-1.1,.1-1.6,.3s-.9,.5-1.3,1c-.4,.4-.7,1-.9,1.7s-.3,1.5-.3,2.4c0,.8,.1,1.5,.3,2.2s.5,1.2,.8,1.7c.4,.5,.8,.8,1.3,1.1s1.1,.4,1.8,.4c.5,0,1,0,1.4-.1v-2.8h.2Z"/>
    <path class="cls-1" d="M241.3,132.2c0-1.2,.1-2.4,.4-3.4,.2-1,.6-1.8,1.1-2.5s1.1-1.2,1.8-1.6c.7-.4,1.6-.6,2.6-.6,1.1,0,2,.2,2.7,.6s1.3,.9,1.8,1.7,.8,1.6,1,2.5c.2,1,.3,2.1,.3,3.2,0,2.5-.5,4.5-1.4,5.9-1,1.4-2.4,2.1-4.4,2.1-1.1,0-2-.2-2.7-.6s-1.3-.9-1.8-1.7c-.5-.7-.8-1.6-1-2.5-.3-.8-.4-1.9-.4-3.1Zm3.2,0c0,.7,0,1.4,.1,2.1,.1,.6,.2,1.2,.4,1.7s.4,.9,.8,1.1c.3,.3,.8,.4,1.4,.4,.5,0,.9-.1,1.3-.3,.3-.2,.6-.5,.8-1,.2-.4,.3-1,.4-1.7s.1-1.5,.1-2.4c0-.7,0-1.4-.1-2.1-.1-.6-.2-1.2-.4-1.7s-.5-.9-.8-1.2c-.4-.3-.8-.4-1.4-.4-1,0-1.7,.4-2.1,1.3-.3,1.1-.5,2.5-.5,4.2Z"/>
    <path class="cls-1" d="M284.7,134.8h2.4v4.4c-.5,.3-1.1,.6-1.8,.8s-1.5,.3-2.2,.3c-1,0-1.9-.1-2.8-.4s-1.6-.8-2.3-1.4-1.2-1.5-1.6-2.5-.6-2.3-.6-3.7c0-1.5,.2-2.8,.7-3.8,.4-1,1-1.8,1.7-2.5,.7-.6,1.5-1.1,2.4-1.3,.9-.3,1.7-.4,2.6-.4s1.6,.1,2.2,.2,1.1,.3,1.5,.5v4.6h-2.4v-2.5c-.5-.1-.9-.1-1.4-.1-.6,0-1.1,.1-1.6,.3s-.9,.5-1.3,1c-.4,.4-.7,1-.9,1.7s-.3,1.5-.3,2.4c0,.8,.1,1.5,.3,2.2s.5,1.2,.8,1.7c.4,.5,.8,.8,1.3,1.1s1.1,.4,1.8,.4c.5,0,1,0,1.4-.1l.1-2.9h0Z"/>
    <path class="cls-1" d="M293.3,137.3h3.9v-10.1h-3.9v-2.7h10.9v2.7h-3.9v10.1h3.9v2.7h-10.9v-2.7Z"/>
    <path class="cls-1" d="M310.7,124.7c.3-.1,.7-.1,1.1-.2s.8-.1,1.2-.1,.8-.1,1.1-.1h1c.7,0,1.4,.1,2.1,.2s1.3,.4,1.9,.7c.6,.3,1,.8,1.3,1.4s.5,1.3,.5,2.1c0,.6-.1,1.2-.2,1.6-.1,.5-.3,.9-.5,1.2-.2,.4-.5,.7-.8,.9-.3,.3-.7,.5-1,.7l3.7,6.7h-3.5l-3.1-6h-1.8v6h-3v-15.1h0Zm4.6,2.3h-.9c-.3,0-.5,0-.7,.1v4.5h1.2c.8,0,1.5-.2,2.1-.6,.5-.4,.8-1,.8-1.9,0-.7-.2-1.2-.6-1.6-.5-.3-1.1-.5-1.9-.5Z"/>
    <path class="cls-1" d="M336.3,134.8h2.4v4.4c-.5,.3-1.1,.6-1.8,.8s-1.5,.3-2.2,.3c-1,0-1.9-.1-2.8-.4s-1.6-.8-2.3-1.4-1.2-1.5-1.6-2.5-.6-2.3-.6-3.7c0-1.5,.2-2.8,.7-3.8,.4-1,1-1.8,1.7-2.5,.7-.6,1.5-1.1,2.4-1.3,.9-.3,1.7-.4,2.6-.4s1.6,.1,2.2,.2,1.1,.3,1.5,.5v4.6h-2.4v-2.5c-.5-.1-.9-.1-1.4-.1-.6,0-1.1,.1-1.6,.3s-.9,.5-1.3,1c-.4,.4-.7,1-.9,1.7s-.3,1.5-.3,2.4c0,.8,.1,1.5,.3,2.2s.5,1.2,.8,1.7c.4,.5,.8,.8,1.3,1.1s1.1,.4,1.8,.4c.5,0,1,0,1.4-.1l.1-2.9h0Z"/>
    <path class="cls-1" d="M353,124.5h2.9v9.9c0,1-.1,1.9-.4,2.6s-.6,1.3-1.1,1.8-1,.8-1.7,1.1c-.7,.2-1.4,.4-2.2,.4-1.9,0-3.3-.5-4.2-1.4s-1.4-2.3-1.4-4.1v-10.3h3v9.7c0,1.2,.2,2,.6,2.6,.4,.5,1.1,.8,2,.8s1.5-.3,1.9-.8c.4-.6,.6-1.4,.6-2.5v-9.8h0Z"/>
    <path class="cls-1" d="M370.1,133.7h2.7v6.3h-10.1v-15.4h3v12.8h4.4v-3.7h0Z"/>
    <path class="cls-1" d="M387,136.5h-4.6l-1.1,3.4h-3l5-15.4h3l5,15.4h-3.2l-1.1-3.4Zm-3.9-2.4h3.3l-1.6-5.2h-.2l-1.5,5.2Z"/>
    <path class="cls-1" d="M396.5,124.5c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.9,0,1.3-.1h1.2c1.4,0,2.5,.2,3.4,.6s1.6,.9,2.1,1.6,.9,1.5,1.1,2.5c.2,.9,.3,2,.3,3.1,0,1-.1,2-.3,3-.2,1-.6,1.8-1.1,2.6s-1.3,1.4-2.2,1.8c-.9,.5-2.2,.7-3.7,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.8,0-1.1-.1-.4,0-.6,0-.8-.1v-15.3Zm4.4,2.5h-.8c-.3,0-.5,0-.6,.1v10.3h1.4c.9,0,1.5-.2,2-.5s.9-.7,1.1-1.2,.4-1.1,.5-1.7,.1-1.3,.1-1.9,0-1.1-.1-1.7-.2-1.2-.5-1.7-.6-.9-1.1-1.2c-.5-.4-1.2-.5-2-.5Z"/>
    <path class="cls-1" d="M413.4,132.2c0-1.2,.1-2.4,.4-3.4,.2-1,.6-1.8,1.1-2.5s1.1-1.2,1.8-1.6c.7-.4,1.6-.6,2.6-.6,1.1,0,2,.2,2.7,.6s1.3,.9,1.8,1.7,.8,1.6,1,2.5c.2,1,.3,2.1,.3,3.2,0,2.5-.5,4.5-1.4,5.9-1,1.4-2.4,2.1-4.4,2.1-1.1,0-2-.2-2.7-.6s-1.3-.9-1.8-1.7c-.5-.7-.8-1.6-1-2.5-.3-.8-.4-1.9-.4-3.1Zm3.1,0c0,.7,0,1.4,.1,2.1,.1,.6,.2,1.2,.4,1.7,.2,.5,.4,.9,.8,1.1,.3,.3,.8,.4,1.4,.4,.5,0,.9-.1,1.3-.3,.3-.2,.6-.5,.8-1,.2-.4,.3-1,.4-1.7s.1-1.5,.1-2.4c0-.7,0-1.4-.1-2.1-.1-.6-.2-1.2-.4-1.7-.2-.5-.5-.9-.8-1.2-.4-.3-.8-.4-1.4-.4-1,0-1.7,.4-2.1,1.3-.3,1.1-.5,2.5-.5,4.2Z"/>
    <path class="cls-1" d="M431.1,124.7c.3-.1,.7-.1,1.1-.2,.4-.1,.8-.1,1.2-.1s.8-.1,1.1-.1h1c.7,0,1.4,.1,2.1,.2,.7,.1,1.3,.4,1.9,.7s1,.8,1.3,1.4,.5,1.3,.5,2.1c0,.6-.1,1.2-.2,1.6-.1,.5-.3,.9-.5,1.2-.2,.4-.5,.7-.8,.9-.3,.3-.7,.5-1,.7l3.7,6.7h-3.5l-3.1-6h-1.8v6h-3v-15.1h0Zm4.7,2.3h-.9c-.3,0-.5,0-.7,.1v4.5h1.2c.8,0,1.5-.2,2.1-.6,.5-.4,.8-1,.8-1.9,0-.7-.2-1.2-.6-1.6s-1.1-.5-1.9-.5Z"/>
    <path class="cls-1" d="M61.2,157.4c.3-.1,.7-.1,1.1-.2s.8-.1,1.2-.1,.8-.1,1.1-.1h1c.7,0,1.4,.1,2.1,.2,.7,.1,1.3,.4,1.9,.7,.6,.3,1,.8,1.3,1.4s.5,1.3,.5,2.1c0,.6-.1,1.2-.2,1.6-.1,.5-.3,.9-.5,1.2-.2,.4-.5,.7-.8,.9-.3,.3-.7,.5-1,.7l3.7,6.7h-3.5l-3.1-6h-1.8v6h-3v-15.1Zm4.7,2.3h-.9c-.3,0-.5,0-.7,.1v4.5h1.2c.8,0,1.5-.2,2.1-.6,.5-.4,.8-1,.8-1.9,0-.7-.2-1.2-.6-1.6-.6-.3-1.2-.5-1.9-.5Z"/>
    <path class="cls-1" d="M78.6,157.2h10.1v2.7h-7.1v3.6h6.6v2.7h-6.6v3.8h7.2v2.7h-10.2v-15.5Z"/>
    <path class="cls-1" d="M103.1,169.2h-4.6l-1.1,3.4h-3l5-15.4h3l5,15.4h-3.2l-1.1-3.4Zm-3.9-2.4h3.3l-1.6-5.2h-.2l-1.5,5.2Z"/>
    <path class="cls-1" d="M120.6,166.4h2.7v6.3h-10.1v-15.4h3v12.8h4.4v-3.7h0Z"/>
    <path class="cls-1" d="M129.9,170h3.9v-10.1h-3.9v-2.7h10.9v2.7h-4v10.1h3.9v2.7h-10.9l.1-2.7h0Z"/>
    <path class="cls-1" d="M147,157.2c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.9,0,1.3-.1h1.2c1.4,0,2.5,.2,3.4,.6s1.6,.9,2.1,1.6,.9,1.5,1.1,2.5c.2,.9,.3,2,.3,3.1,0,1-.1,2-.3,3s-.6,1.8-1.1,2.6-1.3,1.4-2.2,1.8c-.9,.5-2.2,.7-3.7,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.8,0-1.1-.1-.4,0-.6,0-.8-.1v-15.3Zm4.4,2.5h-.8c-.3,0-.5,0-.6,.1v10.3h1.4c.9,0,1.5-.2,2-.5s.9-.7,1.1-1.2c.2-.5,.4-1.1,.5-1.7s.1-1.3,.1-1.9,0-1.1-.1-1.7-.2-1.2-.5-1.7c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.1-.5-2-.5Z"/>
    <path class="cls-1" d="M171.9,169.2h-4.6l-1.1,3.4h-3l5-15.4h3l5,15.4h-3.2l-1.1-3.4Zm-3.9-2.4h3.3l-1.6-5.2h-.2l-1.5,5.2Z"/>
    <path class="cls-1" d="M181.4,157.2c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.9,0,1.3-.1h1.2c1.4,0,2.5,.2,3.4,.6s1.6,.9,2.1,1.6,.9,1.5,1.1,2.5c.2,.9,.3,2,.3,3.1,0,1-.1,2-.3,3s-.6,1.8-1.1,2.6-1.3,1.4-2.2,1.8c-.9,.5-2.2,.7-3.7,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.8,0-1.1-.1-.4,0-.6,0-.8-.1v-15.3Zm4.4,2.5h-.8c-.3,0-.5,0-.6,.1v10.3h1.4c.9,0,1.5-.2,2-.5s.9-.7,1.1-1.2,.4-1.1,.5-1.7,.1-1.3,.1-1.9,0-1.1-.1-1.7-.2-1.2-.5-1.7c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.1-.5-2-.5Z"/>
    <path class="cls-1" d="M199,157.2h10.1v2.7h-7.1v3.6h6.6v2.7h-6.6v3.8h7.2v2.7h-10.2v-15.5Z"/>
    <path class="cls-1" d="M233.5,157.2h10.1v2.7h-7.1v3.6h6.6v2.7h-6.6v3.8h7.2v2.7h-10.2v-15.5Z"/>
    <path class="cls-1" d="M254,164.7l-4.4-7.5h3.5l2.2,4.2,.5,1.1,.5-1.1,2.3-4.2h3.4l-4.4,7.5,4.6,7.9h-3.5l-2.4-4.4-.6-1.2-.6,1.2-2.5,4.4h-3.4l4.8-7.9Z"/>
    <path class="cls-1" d="M267.9,157.4c.6-.1,1.3-.2,2-.3s1.5-.1,2.2-.1c.8,0,1.5,.1,2.3,.2s1.5,.4,2.1,.8,1.1,.9,1.5,1.6,.6,1.5,.6,2.6c0,.9-.2,1.7-.5,2.4s-.8,1.2-1.3,1.7c-.6,.4-1.2,.7-1.9,.9s-1.5,.3-2.2,.3h-1.8v5.3h-3v-15.4h0Zm4.5,2.2h-.8c-.3,0-.5,0-.6,.1v5h1.4c.4,0,.8,0,1.2-.1s.7-.2,1-.4,.6-.5,.7-.8c.2-.4,.3-.8,.3-1.4,0-.5-.1-.9-.3-1.2s-.4-.6-.7-.8-.6-.3-1-.4c-.4,0-.8,0-1.2,0Z"/>
    <path class="cls-1" d="M292.3,169.2h-4.6l-1.1,3.4h-3l5-15.4h3l5,15.4h-3.2l-1.1-3.4Zm-3.9-2.4h3.3l-1.6-5.2h-.2l-1.5,5.2Z"/>
    <path class="cls-1" d="M304.8,163.5h0v9.1h-2.9v-15.4h2.6l5.3,9.4h.1l-.2-1.9v-7.6h2.9v15.6h-2.6l-5.2-9.2Z"/>
    <path class="cls-1" d="M319,157.2c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.9,0,1.3-.1h1.2c1.4,0,2.5,.2,3.4,.6s1.6,.9,2.1,1.6,.9,1.5,1.1,2.5c.2,.9,.3,2,.3,3.1,0,1-.1,2-.3,3s-.6,1.8-1.1,2.6-1.3,1.4-2.2,1.8c-.9,.5-2.2,.7-3.7,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.8,0-1.1-.1-.4,0-.6,0-.8-.1v-15.3Zm4.5,2.5h-.8c-.3,0-.5,0-.6,.1v10.3h1.4c.9,0,1.5-.2,2-.5s.9-.7,1.1-1.2,.4-1.1,.5-1.7,.1-1.3,.1-1.9,0-1.1-.1-1.7-.2-1.2-.5-1.7c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.2-.5-2-.5Z"/>
    <path class="cls-1" d="M336.3,170h3.9v-10.1h-3.9v-2.7h10.9v2.7h-3.9v10.1h3.9v2.7h-10.9v-2.7Z"/>
    <path class="cls-1" d="M353.4,157.2c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.9,0,1.3-.1h1.2c1.4,0,2.5,.2,3.4,.6s1.6,.9,2.1,1.6,.9,1.5,1.1,2.5c.2,.9,.3,2,.3,3.1,0,1-.1,2-.3,3s-.6,1.8-1.1,2.6-1.3,1.4-2.2,1.8c-.9,.5-2.2,.7-3.7,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.8,0-1.1-.1-.4,0-.6,0-.8-.1v-15.3Zm4.5,2.5h-.8c-.3,0-.5,0-.6,.1v10.3h1.4c.9,0,1.5-.2,2-.5s.9-.7,1.1-1.2,.4-1.1,.5-1.7,.1-1.3,.1-1.9,0-1.1-.1-1.7-.2-1.2-.5-1.7c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.2-.5-2-.5Z"/>
    <path class="cls-1" d="M378.4,169.2h-4.6l-1.1,3.4h-3l5-15.4h3l5,15.4h-3.2l-1.1-3.4Zm-3.9-2.4h3.3l-1.6-5.2h-.2l-1.5,5.2Z"/>
  </g>
</svg>
{:else}
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 642.6 104.4">
  <path class="cls-1" d="M248.7,58.8h-28.4v36.9h-17.2V7.6h17.2V43.5h28.4V7.6h17.2V95.7h-17.2V58.8Z"/>
  <path class="cls-1" d="M327.9,48.7l.6-13.7h-.8l-14.1,23h-3l-14.7-23h-.6l.8,12.3v48.3h-16.4V7.5h17.5l15.1,24.4h.5l15-24.4h17.4V95.6h-17.3V48.7Z"/>
  <path class="cls-1" d="M408.6,66.1h13.8v25.2c-2.7,1.9-6.1,3.4-10.3,4.5-4.2,1.1-8.4,1.6-12.8,1.6-5.5,0-10.8-.8-15.8-2.5-5-1.6-9.4-4.3-13.1-7.9-3.8-3.6-6.8-8.4-9.1-14.2-2.3-5.8-3.4-12.9-3.4-21.2s1.3-15.9,3.8-21.7c2.6-5.8,5.8-10.5,9.9-14.1,4-3.6,8.5-6.1,13.5-7.7,4.9-1.6,9.8-2.3,14.6-2.3s9.3,.4,12.8,1.3c3.5,.8,6.4,1.8,8.6,2.9v26.2h-13.8v-14.3c-2.6-.4-5.3-.6-8.1-.6-3.3,0-6.3,.6-9.1,1.8-2.8,1.2-5.3,3.1-7.4,5.6s-3.7,5.7-4.9,9.5c-1.2,3.8-1.8,8.3-1.8,13.5,0,4.5,.5,8.7,1.6,12.4,1.1,3.7,2.7,6.9,4.8,9.6,2.1,2.7,4.7,4.8,7.7,6.2,3,1.5,6.5,2.2,10.3,2.2,2.8,0,5.5-.3,8.1-.8l.1-15.2h0Z"/>
  <path class="cls-1" d="M463.7,0h13.5V104.4h-13.5V0Z"/>
  <g>
    <path class="cls-1" d="M61.1,25.3h-5.7v7.4h-3.5V15h3.5v7.2h5.7v-7.2h3.5v17.7h-3.5v-7.4Z"/>
    <path class="cls-1" d="M78,28.8h-5.3l-1.2,3.9h-3.5l5.7-17.7h3.5l5.7,17.7h-3.6l-1.3-3.9Zm-4.5-2.8h3.8l-1.8-5.9h-.2l-1.8,5.9Z"/>
    <path class="cls-1" d="M98.6,19.2c0,.4-.1,.9-.2,1.3s-.3,.8-.5,1.2c-.3,.4-.6,.7-1,1s-.9,.5-1.5,.6v.2c.5,.1,1,.2,1.4,.4,.5,.2,.9,.5,1.2,.8s.6,.8,.8,1.3c.2,.5,.3,1.1,.3,1.8,0,.9-.2,1.7-.6,2.4-.4,.7-.9,1.2-1.6,1.6-.6,.4-1.4,.7-2.2,.9-.8,.2-1.7,.3-2.6,.3h-2.5c-.5,0-1-.1-1.6-.1s-1-.1-1.5-.2V15.2c.3,0,.7-.1,1.1-.2s.9-.1,1.3-.1c.5,0,1-.1,1.5-.1h1.5c.8,0,1.6,.1,2.4,.2s1.5,.4,2.1,.7,1.1,.8,1.5,1.3c.5,.6,.7,1.3,.7,2.2Zm-7.5,3.3h.8c.3,0,.6,0,.8-.1,.7-.2,1.2-.5,1.7-.9s.7-.9,.7-1.6c0-.4-.1-.8-.3-1.1-.2-.3-.4-.5-.7-.7s-.6-.3-1-.4-.7-.1-1.1-.1h-1.2c-.3,0-.7,0-.9,.1v4.7h1.2v.1Zm1.1,7.6c.4,0,.8,0,1.2-.2,.4-.1,.7-.3,1.1-.5s.5-.5,.7-.8,.3-.7,.3-1.1c0-.6-.1-1-.3-1.3-.2-.3-.5-.6-.9-.7-.4-.2-.8-.3-1.2-.3s-.9-.1-1.3-.1h-1.9v4.8c.1,0,.2,.1,.4,.1h1.3c.2,.1,.4,.1,.6,.1Z"/>
    <path class="cls-1" d="M103.7,29.7h4.5v-11.6h-4.5v-3.1h12.5v3.1h-4.5v11.5h4.5v3.1h-12.5v-3Z"/>
    <path class="cls-1" d="M122.5,30h2.9v-12.2h-2.5v3.1h-2.8v-5.8h13.9v5.8h-2.8v-3.1h-2.4v12.2h2.9v2.8h-9.2v-2.8Z"/>
    <path class="cls-1" d="M146.8,28.8h-5.3l-1.2,3.9h-3.4l5.7-17.7h3.5l5.7,17.7h-3.6l-1.4-3.9Zm-4.4-2.8h3.8l-1.8-5.9h-.2l-1.8,5.9Z"/>
    <path class="cls-1" d="M156.9,30h2.9v-12.2h-2.4v3.1h-2.8v-5.8h13.9v5.8h-2.8v-3.1h-2.4v12.2h2.9v2.8h-9.3v-2.8h0Z"/>
    <path class="cls-1" d="M61.4,54.9l.1-2.8h-.2l-2.8,4.6h-.6l-3-4.6h-.1l.2,2.5v9.7h-3.3v-17.7h3.5l3,4.9h.1l3-4.9h3.5v17.7h-3.5l.1-9.4h0Z"/>
    <path class="cls-1" d="M69.6,46.6h11.6v3.1h-8.2v4.1h7.5v3.1h-7.5v4.3h8.3v3.1h-11.7v-17.7Z"/>
    <path class="cls-1" d="M86.7,58.6h2.8v2.5q.1,0,.2,.1c.4,.2,.8,.3,1.3,.4s1,.2,1.5,.2c.9,0,1.7-.2,2.2-.6s.8-.9,.8-1.5-.2-1-.6-1.4-1-.7-1.6-.9c-.6-.3-1.3-.5-2.1-.8-.8-.3-1.4-.6-2.1-1-.6-.4-1.2-.9-1.6-1.6-.4-.6-.6-1.4-.6-2.4,0-.8,.1-1.5,.4-2.1s.7-1.2,1.2-1.6c.5-.5,1.2-.8,1.9-1.1,.7-.3,1.6-.4,2.5-.4,1,0,2,.1,3,.3s1.8,.4,2.4,.8v5.1h-2.8v-2.8h-.2c-.4-.1-.8-.2-1.2-.2-.4-.1-.9-.1-1.3-.1-.8,0-1.4,.2-1.9,.5s-.7,.8-.7,1.3c0,.6,.2,1,.6,1.4s1,.7,1.6,1,1.3,.6,2.1,.9,1.4,.6,2.1,1.1c.6,.4,1.2,.9,1.6,1.6,.4,.6,.6,1.4,.6,2.4,0,.9-.2,1.7-.5,2.4s-.8,1.3-1.4,1.7c-.6,.5-1.3,.8-2.2,1s-1.7,.3-2.7,.3c-.6,0-1.2-.1-1.8-.2-.5-.1-1.1-.2-1.5-.4-.5-.2-.9-.3-1.2-.5-.4-.2-.6-.3-.9-.4l.1-5h0Z"/>
    <path class="cls-1" d="M105.3,61.6h2.9v-12.2h-2.4v3.1h-2.9v-5.8h13.9v5.8h-2.8v-3.1h-2.4v12.2h2.9v2.8h-9.2v-2.8Z"/>
    <path class="cls-1" d="M120.9,61.3h4.5v-11.5h-4.5v-3.1h12.5v3.1h-4.5v11.5h4.5v3.1h-12.5s0-3.1,0-3.1Z"/>
    <path class="cls-1" d="M148,58.4h2.8v5.1c-.5,.4-1.2,.7-2.1,.9-.5,.1-.9,.2-1.4,.3l-.4,.8c.7,.1,1.2,.2,1.6,.5s.6,.7,.6,1.4c0,.4-.1,.7-.3,1s-.5,.5-.8,.7-.7,.3-1.2,.4-.9,.2-1.5,.2-1.1-.1-1.6-.2l.2-1.2h.6c.6,0,1.1-.1,1.2-.2,.2-.2,.3-.3,.3-.5,0-.5-.7-.7-2.2-.8l1.2-2.1c-.8-.1-1.5-.2-2.2-.4-1-.3-1.9-.9-2.6-1.6-.8-.7-1.4-1.7-1.8-2.9-.5-1.2-.7-2.6-.7-4.3s.3-3.2,.8-4.4,1.2-2.1,2-2.8,1.7-1.2,2.7-1.5,2-.5,2.9-.5c1,0,1.9,.1,2.6,.3,.7,.2,1.3,.4,1.7,.6v5.3h-2.8v-2.9c-.5-.1-1.1-.1-1.6-.1-.7,0-1.3,.1-1.8,.4-.6,.2-1.1,.6-1.5,1.1s-.8,1.1-1,1.9-.4,1.7-.4,2.7c0,.9,.1,1.7,.3,2.5,.2,.7,.5,1.4,1,1.9s.9,1,1.5,1.2c.6,.3,1.3,.4,2.1,.4,.6,0,1.1,0,1.6-.1v-3.1h.2Z"/>
    <path class="cls-1" d="M154.8,55.5c0-1.4,.1-2.7,.4-3.9,.3-1.1,.7-2.1,1.2-2.9,.6-.8,1.3-1.4,2.1-1.8s1.8-.6,2.9-.6c1.2,0,2.2,.2,3.1,.7,.8,.5,1.5,1.1,2.1,1.9,.5,.8,.9,1.8,1.2,2.9,.2,1.1,.4,2.4,.4,3.7,0,2.9-.6,5.1-1.7,6.8-1.1,1.6-2.8,2.4-5,2.4-1.2,0-2.2-.2-3.1-.7-.9-.5-1.5-1.1-2.1-1.9-.5-.8-.9-1.8-1.2-2.9-.1-1.1-.3-2.3-.3-3.7Zm3.7,0c0,.9,0,1.7,.1,2.4s.2,1.4,.4,1.9,.5,1,.9,1.3,.9,.5,1.6,.5c.6,0,1.1-.1,1.5-.4,.4-.2,.7-.6,.9-1.1s.4-1.1,.5-1.9,.1-1.7,.1-2.7c0-.8,0-1.6-.1-2.4-.1-.7-.2-1.4-.4-1.9-.2-.6-.5-1-.9-1.3s-.9-.5-1.6-.5c-1.2,0-2,.5-2.4,1.5-.4,1.1-.6,2.6-.6,4.6Z"/>
    <path class="cls-1" d="M10.2,90h2.8v5.1c-.5,.4-1.2,.7-2.1,.9s-1.7,.3-2.6,.3c-1.1,0-2.2-.2-3.2-.5s-1.9-.9-2.6-1.6c-.8-.7-1.4-1.7-1.8-2.9-.5-1.2-.7-2.6-.7-4.3s.3-3.2,.8-4.4c.5-1.2,1.2-2.1,2-2.8,.8-.7,1.7-1.2,2.7-1.5s2-.5,2.9-.5c1,0,1.9,.1,2.6,.3,.7,.2,1.3,.4,1.7,.6v5.3h-2.8v-2.9c-.5-.1-1.1-.1-1.6-.1-.7,0-1.3,.1-1.8,.4-.6,.2-1.1,.6-1.5,1.1s-.8,1.1-1,1.9-.4,1.7-.4,2.7c0,.9,.1,1.7,.3,2.5s.5,1.4,1,1.9c.4,.5,.9,1,1.5,1.3s1.3,.4,2.1,.4c.6,0,1.1-.1,1.6-.2l.1-3h0Z"/>
    <path class="cls-1" d="M17.6,92.9h4.5v-11.5h-4.5v-3.1h12.5v3.1h-4.5v11.5h4.5v3.1h-12.5v-3.1Z"/>
    <path class="cls-1" d="M35,78.4c.4-.1,.8-.1,1.3-.2,.4-.1,.9-.1,1.3-.1s.9-.1,1.3-.1h1.2c.8,0,1.6,.1,2.4,.2,.8,.2,1.5,.4,2.2,.8,.6,.4,1.1,.9,1.5,1.6s.6,1.5,.6,2.5c0,.7-.1,1.4-.2,1.9s-.3,1-.6,1.4-.6,.8-.9,1c-.4,.3-.8,.6-1.2,.8l4.3,7.7h-4l-3.6-6.9h-2.1v6.9h-3.5v-17.5Zm5.3,2.7h-1.1c-.3,0-.6,.1-.8,.1v5.1h1.4c1,0,1.7-.2,2.4-.7,.6-.4,.9-1.2,.9-2.2,0-.8-.2-1.4-.7-1.8-.5-.3-1.2-.5-2.1-.5Z"/>
    <path class="cls-1" d="M61.9,90h2.8v5.1c-.5,.4-1.2,.7-2.1,.9-.8,.2-1.7,.3-2.6,.3-1.1,0-2.2-.2-3.2-.5s-1.9-.9-2.6-1.6c-.8-.7-1.4-1.7-1.8-2.9-.5-1.2-.7-2.6-.7-4.3s.3-3.2,.8-4.4c.5-1.2,1.2-2.1,2-2.8,.8-.7,1.7-1.2,2.7-1.5s2-.5,2.9-.5c1,0,1.9,.1,2.6,.3,.7,.2,1.3,.4,1.7,.6v5.3h-2.8v-2.9c-.5-.1-1.1-.1-1.6-.1-.7,0-1.3,.1-1.8,.4-.6,.2-1.1,.6-1.5,1.1s-.8,1.1-1,1.9-.4,1.7-.4,2.7c0,.9,.1,1.7,.3,2.5s.5,1.4,1,1.9c.4,.5,.9,1,1.5,1.3s1.3,.4,2.1,.4c.6,0,1.1-.1,1.6-.2l.1-3h0Z"/>
    <path class="cls-1" d="M78.5,78.3h3.3v11.3c0,1.1-.2,2.1-.5,3-.3,.8-.7,1.5-1.3,2.1-.5,.5-1.2,1-2,1.2-.8,.3-1.6,.4-2.5,.4-2.2,0-3.8-.5-4.9-1.6s-1.6-2.6-1.6-4.7v-11.8h3.5v11.1c0,1.4,.2,2.3,.7,2.9s1.3,.9,2.3,.9,1.7-.3,2.2-1c.4-.6,.7-1.6,.7-2.9l.1-10.9h0Z"/>
    <path class="cls-1" d="M95.6,88.8h3.1v7.2h-11.6v-17.7h3.5v14.6h5v-4.1Z"/>
    <path class="cls-1" d="M112.4,92.1h-5.3l-1.2,3.9h-3.5l5.7-17.7h3.5l5.7,17.7h-3.6l-1.3-3.9Zm-4.5-2.8h3.8l-1.8-5.9h-.2l-1.8,5.9Z"/>
    <path class="cls-1" d="M120.8,78.3c.2,0,.4,0,.8-.1,.4,0,.8-.1,1.3-.1s1,0,1.5-.1h1.4c1.6,0,2.9,.2,3.9,.7s1.8,1.1,2.4,1.9c.6,.8,1,1.7,1.3,2.8,.2,1.1,.4,2.3,.4,3.6,0,1.2-.1,2.3-.4,3.4-.2,1.1-.7,2.1-1.3,3s-1.5,1.6-2.6,2.1-2.5,.8-4.2,.8h-1c-.4,0-.9,0-1.3-.1-.4,0-.9,0-1.3-.1-.4,0-.7-.1-.9-.1,0,0,0-17.7,0-17.7Zm5.1,2.8h-.9c-.3,0-.5,0-.7,.1v11.9h1.4c1,0,1.8-.2,2.3-.5,.6-.4,1-.8,1.3-1.4s.5-1.3,.6-2,.1-1.5,.1-2.2c0-.6,0-1.3-.1-2s-.3-1.3-.5-1.9c-.3-.6-.7-1-1.3-1.4-.5-.4-1.3-.6-2.2-.6Z"/>
    <path class="cls-1" d="M137.6,87.1c0-1.4,.1-2.7,.4-3.9,.3-1.1,.7-2.1,1.2-2.9,.6-.8,1.3-1.4,2.1-1.8s1.8-.6,2.9-.6c1.2,0,2.2,.2,3.1,.7,.8,.5,1.5,1.1,2.1,1.9,.5,.8,.9,1.8,1.2,2.9,.2,1.1,.4,2.4,.4,3.7,0,2.9-.6,5.1-1.7,6.8-1.1,1.6-2.8,2.4-5,2.4-1.2,0-2.2-.2-3.1-.7-.9-.5-1.5-1.1-2.1-1.9-.5-.8-.9-1.8-1.2-2.9-.1-1.1-.3-2.3-.3-3.7Zm3.7,0c0,.9,0,1.7,.1,2.4,.1,.7,.2,1.4,.4,1.9s.5,1,.9,1.3,.9,.5,1.6,.5c.6,0,1.1-.1,1.5-.4,.4-.2,.7-.6,.9-1.1s.4-1.1,.5-1.9,.1-1.7,.1-2.7c0-.8,0-1.6-.1-2.4-.1-.7-.2-1.4-.4-1.9-.2-.6-.5-1-.9-1.3s-.9-.5-1.6-.5c-1.2,0-2,.5-2.4,1.5-.4,1.1-.6,2.6-.6,4.6Z"/>
    <path class="cls-1" d="M155.5,78.4c.4-.1,.8-.1,1.3-.2,.4-.1,.9-.1,1.3-.1s.9-.1,1.3-.1h1.2c.8,0,1.6,.1,2.4,.2s1.5,.4,2.2,.8c.6,.4,1.1,.9,1.5,1.6s.6,1.5,.6,2.5c0,.7-.1,1.4-.2,1.9-.1,.5-.3,1-.6,1.4s-.6,.8-.9,1c-.4,.3-.8,.6-1.2,.8l4.3,7.7h-4l-3.6-6.9h-2.1v6.9h-3.5v-17.5Zm5.3,2.7h-1c-.3,0-.6,.1-.8,.1v5.1h1.4c1,0,1.7-.2,2.4-.7,.6-.4,.9-1.2,.9-2.2,0-.8-.2-1.4-.7-1.8-.6-.3-1.3-.5-2.2-.5Z"/>
  </g>
  <g>
    <path class="cls-1" d="M512.9,57.2c.3-.1,.7-.1,1.1-.2,.4,0,.8-.1,1.1-.1,.4,0,.8-.1,1.1-.1h1c.7,0,1.4,.1,2.1,.2s1.3,.4,1.8,.7,1,.8,1.3,1.3c.3,.6,.5,1.3,.5,2.1,0,.6-.1,1.2-.2,1.6-.1,.5-.3,.9-.5,1.2-.2,.3-.5,.6-.8,.9s-.6,.5-1,.7l3.7,6.6h-3.4l-3.1-5.9h-1.7v5.9h-3v-14.9h0Zm4.6,2.3h-.9c-.3,0-.5,0-.7,.1v4.4h1.2c.8,0,1.5-.2,2-.6s.8-1,.8-1.9c0-.7-.2-1.2-.6-1.5-.4-.4-1-.5-1.8-.5Z"/>
    <path class="cls-1" d="M527.8,57h10v2.6h-7v3.5h6.4v2.6h-6.4v3.7h7.1v2.6h-10.1v-15Z"/>
    <path class="cls-1" d="M549.8,68.8h-4.5l-1,3.4h-3l4.9-15.2h3l4.9,15.2h-3.1l-1.2-3.4Zm-3.9-2.3h3.3l-1.5-5.1h-.2l-1.6,5.1Z"/>
    <path class="cls-1" d="M564.8,66h2.7v6.2h-10v-15.2h3v12.5h4.3v-3.5Z"/>
    <path class="cls-1" d="M571.8,69.6h3.8v-9.9h-3.8v-2.6h10.7v2.6h-3.9v9.9h3.9v2.6h-10.7v-2.6Z"/>
    <path class="cls-1" d="M586.4,57c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.8,0,1.3-.1h1.2c1.3,0,2.5,.2,3.3,.6,.9,.4,1.6,.9,2.1,1.6s.9,1.5,1.1,2.4c.2,.9,.3,1.9,.3,3,0,1-.1,2-.3,2.9-.2,1-.6,1.8-1.1,2.5s-1.3,1.3-2.2,1.8-2.1,.7-3.6,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.7,0-1.1-.1-.3,0-.6,0-.8-.1v-14.9Zm4.4,2.5h-.8c-.3,0-.5,0-.6,.1v10.2h1.4c.8,0,1.5-.2,2-.5s.9-.7,1.1-1.2c.2-.5,.4-1.1,.5-1.7s.1-1.3,.1-1.9c0-.5,0-1.1-.1-1.7s-.2-1.1-.5-1.6c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.2-.5-2-.5Z"/>
    <path class="cls-1" d="M608.8,68.8h-4.5l-1,3.4h-3l4.9-15.2h3l4.9,15.2h-3.1l-1.2-3.4Zm-3.9-2.3h3.3l-1.5-5.1h-.2l-1.6,5.1Z"/>
    <path class="cls-1" d="M615.9,57c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.8,0,1.3-.1h1.2c1.3,0,2.5,.2,3.3,.6,.9,.4,1.6,.9,2.1,1.6s.9,1.5,1.1,2.4c.2,.9,.3,1.9,.3,3,0,1-.1,2-.3,2.9-.2,1-.6,1.8-1.1,2.5s-1.3,1.3-2.2,1.8-2.1,.7-3.6,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.7,0-1.1-.1-.3,0-.6,0-.8-.1v-14.9Zm4.4,2.5h-.8c-.3,0-.5,0-.6,.1v10.2h1.4c.8,0,1.5-.2,2-.5s.9-.7,1.1-1.2c.2-.5,.4-1.1,.5-1.7s.1-1.3,.1-1.9c0-.5,0-1.1-.1-1.7s-.2-1.1-.5-1.6c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.2-.5-2-.5Z"/>
    <path class="cls-1" d="M631.1,57h10v2.6h-7v3.5h6.4v2.6h-6.4v3.7h7.1v2.6h-10.1v-15Z"/>
    <path class="cls-1" d="M513.1,81.6h10v2.6h-7v3.5h6.4v2.6h-6.4v3.7h7.1v2.6h-10.1v-15Z"/>
    <path class="cls-1" d="M531.1,89l-4.3-7.4h3.5l2.2,4.1,.5,1.1,.5-1.1,2.3-4.1h3.4l-4.4,7.4,4.5,7.8h-3.5l-2.3-4.3-.6-1.2-.6,1.2-2.4,4.3h-3.4l4.6-7.8Z"/>
    <path class="cls-1" d="M542.7,81.8c.6-.1,1.3-.2,2-.3,.7-.1,1.5-.1,2.2-.1,.8,0,1.5,.1,2.3,.2s1.4,.4,2,.7c.6,.4,1.1,.9,1.5,1.5,.4,.7,.6,1.5,.6,2.6,0,.9-.2,1.7-.5,2.4-.3,.7-.8,1.2-1.3,1.6s-1.2,.7-1.9,.9c-.7,.2-1.4,.3-2.2,.3h-1.7v5.2h-3v-15h0Zm4.4,2.2h-.8c-.2,0-.5,0-.6,.1v4.9h1.4c.4,0,.8,0,1.2-.1s.7-.2,1-.4,.5-.5,.7-.8,.3-.8,.3-1.4c0-.5-.1-.9-.3-1.2-.2-.3-.4-.6-.7-.7-.3-.2-.6-.3-1-.4s-.8,0-1.2,0Z"/>
    <path class="cls-1" d="M564.5,93.5h-4.5l-1,3.4h-3l4.9-15.2h3l4.9,15.2h-3.1l-1.2-3.4Zm-3.8-2.4h3.3l-1.5-5.1h-.2l-1.6,5.1Z"/>
    <path class="cls-1" d="M574.6,87.9h0v9h-2.8v-15.2h2.6l5.2,9.3h.1l-.2-1.8v-7.5h2.8v15.2h-2.6l-5.1-9Z"/>
    <path class="cls-1" d="M586.4,81.6c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.8,0,1.3-.1h1.2c1.3,0,2.5,.2,3.3,.6,.9,.4,1.6,.9,2.1,1.6s.9,1.5,1.1,2.4c.2,.9,.3,1.9,.3,3,0,1-.1,2-.3,2.9-.2,1-.6,1.8-1.1,2.5s-1.3,1.3-2.2,1.8-2.1,.7-3.6,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.7,0-1.1-.1-.3,0-.6,0-.8-.1v-14.9Zm4.4,2.5h-.8c-.3,0-.5,0-.6,.1v10.2h1.4c.8,0,1.5-.2,2-.5s.9-.7,1.1-1.2c.2-.5,.4-1.1,.5-1.7s.1-1.3,.1-1.9c0-.5,0-1.1-.1-1.7s-.2-1.1-.5-1.6c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.2-.5-2-.5Z"/>
    <path class="cls-1" d="M601.3,94.2h3.8v-9.9h-3.8v-2.6h10.6v2.6h-3.9v9.9h3.9v2.6h-10.7v-2.6h.1Z"/>
    <path class="cls-1" d="M615.9,81.6c.1,0,.4,0,.7-.1,.3,0,.7-.1,1.1-.1s.8,0,1.3-.1h1.2c1.3,0,2.5,.2,3.3,.6,.9,.4,1.6,.9,2.1,1.6s.9,1.5,1.1,2.4c.2,.9,.3,1.9,.3,3,0,1-.1,2-.3,2.9-.2,1-.6,1.8-1.1,2.5s-1.3,1.3-2.2,1.8-2.1,.7-3.6,.7h-.9c-.4,0-.7,0-1.1-.1-.4,0-.7,0-1.1-.1-.3,0-.6,0-.8-.1v-14.9Zm4.4,2.5h-.8c-.3,0-.5,0-.6,.1v10.2h1.4c.8,0,1.5-.2,2-.5s.9-.7,1.1-1.2c.2-.5,.4-1.1,.5-1.7s.1-1.3,.1-1.9c0-.5,0-1.1-.1-1.7s-.2-1.1-.5-1.6c-.2-.5-.6-.9-1.1-1.2-.5-.4-1.2-.5-2-.5Z"/>
    <path class="cls-1" d="M638.3,93.5h-4.5l-1,3.4h-3l4.9-15.2h3l4.9,15.2h-3.1l-1.2-3.4Zm-3.9-2.4h3.3l-1.5-5.1h-.3l-1.5,5.1Z"/>
  </g>
  <g>
    <path class="cls-1" d="M521.2,27.9l-9.6-16.6h7.8l5,9.2,1.1,2.5,1.1-2.5,5.1-9.2h7.5l-9.8,16.6,10.1,17.4h-7.8l-5.2-9.7-1.3-2.6-1.3,2.6-5.4,9.7h-7.5l10.2-17.4Z"/>
    <path class="cls-1" d="M543.7,11.7c.7-.1,1.5-.3,2.4-.4s1.7-.2,2.6-.3c.9-.1,1.7-.1,2.5-.1h2.2c1.6,0,3.2,.2,4.7,.5s2.9,.8,4.1,1.6c1.2,.7,2.2,1.8,2.9,3,.7,1.3,1.1,2.8,1.1,4.7,0,1.4-.1,2.6-.4,3.6-.3,1-.7,1.9-1.1,2.7-.5,.8-1.1,1.5-1.8,2-.7,.6-1.5,1.1-2.3,1.5l8.2,14.9h-7.7l-6.9-13.3h-4v13.3h-6.7V11.7h.2Zm10.2,5.1h-2c-.7,0-1.2,.1-1.5,.2v9.9h2.6c1.8,0,3.4-.4,4.5-1.3,1.2-.8,1.8-2.2,1.8-4.2,0-1.5-.5-2.6-1.4-3.4-.9-.8-2.3-1.2-4-1.2Z"/>
  </g>
</svg>
{/if}