<script>
	import { base } from "$app/paths";
  import { page } from "$app/stores";
  import Logo from "$lib/logo.svelte";
</script>

<nav class="sticky top-8 w-full h-24 z-50 flex">
  <div class="absolute -top-1 -left-8 h-2 w-1/3 bg-current"></div>
  <div class="bg-white px-8">
    <Logo />
  </div>
  <div class="flex-grow flex justify-end bg-white h-20 pt-4">
    {#if $page.url.pathname !== `${base}/`}
      <a href="{base}/">Início</a>
    {:else}
      <a href="{base}/sobre">Sobre</a>
    {/if}

  </div>
</nav>

<style lang="postcss">
  a {
    @apply relative pr-4 uppercase font-black text-xl;
  }
  a::after {
    content: '';
    @apply absolute block h-3 left-full right-0 -bottom-1 bg-current transition-all duration-300 ease-in-out;
  }

  a:hover:after {
    @apply left-0;
  }
</style>