<script lang="ts">
	import { base } from "$app/paths";
	import PanoramaImage from "./panoramaImage.svelte";

  export let params: {imgs: [string, string]}

  let container: HTMLDivElement
  let dragging = false;
  let rotating = false;
  let slidePercentage = 50;

  function onPointerMove(event: PointerEvent) {
    if(!container || !dragging) return
    slidePercentage = Math.min(Math.max(event.clientX - container.offsetLeft, 0) / container.offsetWidth, 1) * 100
  }

  function startRotating(event: PointerEvent) {
    console.log(event)
    if(event.target && (event.target as HTMLElement).id === 'slider') return
    rotating = true
  }
</script>

<svelte:window
	on:pointermove={onPointerMove}
	on:pointerup={() => dragging = false}
/>

<div
  class="relative w-full aspect-video cursor-move"
  bind:this={container}
  on:pointerdown={startRotating}
  on:pointerup={() => rotating = false}
  on:pointerleave={() => rotating = false}>
  <div
    class="absolute flex items-center h-full z-10"
    style="width: {slidePercentage}%">
    <div class="absolute w-full h-full overflow-hidden">
      <div class="absolute h-full aspect-video">
        <PanoramaImage src="{base}/images/{params.imgs[0]}.jpg" disableClick isUserInteracting={rotating} />
      </div>
    </div>
    <div
      class="absolute w-12 aspect-square right-0 translate-x-1/2 bg-white rounded-full flex items-center justify-center"
      on:pointerdown={() => dragging = true}>
      <button id="slider" class="absolute z-10 w-full h-full rounded-full"></button>
      <div class="w-3 h-3 border-b-2 border-l-2 rotate-45 border-current flex items-center justify-center"></div>
      <div class="w-3 h-3 border-t-2 border-r-2 rotate-45 border-current flex items-center justify-center"></div>
    </div>
  </div>
  <PanoramaImage src="{base}/images/{params.imgs[1]}.jpg" disableClick isUserInteracting={rotating} />
</div>