<script lang="ts">
	import { onMount } from 'svelte';
	import * as THREE from 'three';
	import { getLatLon } from './mathFunctions';

	export let src: string;
	export let disableClick = false;
	export let isUserInteracting = false;

	$: isUserInteracting, manageInteraction();

	let container: HTMLDivElement;

	let scene: THREE.Scene;
	let camera: THREE.PerspectiveCamera;
	let renderer: THREE.WebGLRenderer;

	let hasGyro = false;
	let getMovement = false;
	let pointer = { x: 0, y: 0, lon: 0, lat: 0 };
	let position = { lon: 0, lat: 0, phi: 0, theta: 0 };

	onMount(() => {
		setDeviceOrientation();
		initPano();
		animate();
	});

	function initPano() {
		camera = new THREE.PerspectiveCamera(
			75,
			container.offsetWidth / container.offsetHeight,
			1,
			1100
		);

		scene = new THREE.Scene();

		const geometry = new THREE.SphereGeometry(500, 60, 40);
		// invert the geometry on the x-axis so that all of the faces point inward
		geometry.scale(-1, 1, 1);

		const texture = new THREE.TextureLoader().load(src);
		const material = new THREE.MeshBasicMaterial({ map: texture });

		const mesh = new THREE.Mesh(geometry, material);

		scene.add(mesh);

		renderer = new THREE.WebGLRenderer();
		renderer.setPixelRatio(window.devicePixelRatio);
		renderer.setSize(container.offsetWidth, container.offsetHeight);
		container.appendChild(renderer.domElement);
	}

	function animate() {
		requestAnimationFrame(animate);
		update();
	}

	function update() {
		if (!isUserInteracting || hasGyro) {
			position.lon += 0.1;
		}

		position.lat = Math.max(-85, Math.min(85, position.lat));
		position.phi = THREE.MathUtils.degToRad(90 - position.lat);
		position.theta = THREE.MathUtils.degToRad(position.lon);

		const x = 500 * Math.sin(position.phi) * Math.cos(position.theta);
		const y = 500 * Math.cos(position.phi);
		const z = 500 * Math.sin(position.phi) * Math.sin(position.theta);

		camera.lookAt(x, y, z);

		renderer.render(scene, camera);
	}

	function onWindowResize() {
		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();
		renderer.setSize(window.innerWidth, window.innerHeight);
	}

	function manageInteraction() {
		if (isUserInteracting && !getMovement) getMovement = true;
	}

	function onPointerDown(event: PointerEvent) {
		if (event.isPrimary === false || disableClick) return;
		getMovement = true;
	}

	function onPointerMove(event: PointerEvent) {
		if (event.isPrimary === false || isUserInteracting === false) return;

		if (getMovement) {
			isUserInteracting = true;
			pointer = { x: event.clientX, y: event.clientY, lon: position.lon, lat: position.lat };
			getMovement = false;
			return;
		}

		position.lon = (pointer.x - event.clientX) * 0.1 + pointer.lon;
		position.lat = (event.clientY - pointer.y) * 0.1 + pointer.lat;
	}

	function onPointerUp(event: PointerEvent) {
		if (event.isPrimary === false || isUserInteracting === false) return;

		isUserInteracting = false;

		document.removeEventListener('pointermove', onPointerMove);
		document.removeEventListener('pointerup', onPointerUp);
	}

	function setDeviceOrientation() {
		if (window.DeviceOrientationEvent) {
			window.addEventListener(
				'deviceorientation',
				function (event: DeviceOrientationEvent) {
					if (event.beta === null || event.gamma === null) return;
					onDeviceOrientationChange({ x: event.beta, y: event.gamma, z: (event.alpha || 1) });
				},
				true
			);
		} else if (window.DeviceMotionEvent) {
			window.addEventListener(
				'devicemotion',
				function (event: DeviceMotionEvent) {
					if (
						event.acceleration === null ||
						event.acceleration.x === null ||
						event.acceleration.y === null
					)
						return;
					onDeviceOrientationChange({ x: event.acceleration.x * 2, y: event.acceleration.y * 2, z: (event.acceleration.z || 1) * 2});
				},
				true
			);
		} else {
			window.addEventListener(
				'MozOrientation',
				function (event: any) {
					onDeviceOrientationChange({ x: event.x * 50, y: event.y * 50, z: event.z * 50 });
				},
				true
			);
		}
	}

  function onDeviceOrientationChange(orientation: {x: number, y: number, z: number}) {
    const latLon = getLatLon(orientation);
    position.lon = latLon.lon;
    position.lat = latLon.lat;
  }
</script>

<svelte:window
	on:resize={onWindowResize}
	on:pointermove={onPointerMove}
	on:pointerup={onPointerUp}
/>

<!-- <img {src} alt="panorama" /> -->
<div on:pointerdown={onPointerDown} class="w-full h-full" bind:this={container} />
