<script lang="ts">
	import { base } from "$app/paths";
	import { page } from "$app/stores";

  export let params: {text: string, link?: string, pdf?: string};
</script>

<div class="w-full h-full flex flex-col items-center justify-center">
  <div class="w-full max-w-4xl mx-auto bg-white flex flex-col p-8">
    {@html params.text}
    {#if params.hasOwnProperty('link') || params.hasOwnProperty('pdf')}
      <p>
        <a
          class="font-bold underline hover:no-underline"
          href={params.hasOwnProperty('pdf') ? `${base}/${params.pdf}` : `${$page.url.pathname}/view`}
          target="_blank">
          Clique aqui para acessar.
        </a>
      </p>
    {/if}
  </div>
</div>

<style>
  h2 {margin: .5rem 0}
</style>