<script lang="ts">
	import VimeoPlayer from "$lib/vimeoPlayer.svelte";

  export let params: {text?: string, video: string};
</script>

<div class="w-full h-full flex flex-col items-center justify-center">
  <div class="w-full max-w-4xl mx-auto bg-white flex flex-col md:p-8">
    <div class="p-8 md:p-0">
      {#if params.hasOwnProperty('text')}
        {@html params.text}
      {/if}
    </div>
    <div class="w-full aspect-video my-8">
      <VimeoPlayer url={params.video} />
    </div>
  </div>
</div>