<script lang="ts">
	import '../app.css';
	import Menu from '$lib/menu.svelte';
	import FooterInfo from '$lib/footerInfo.svelte';
	import CoverPage from '$lib/coverPage.svelte';
  import { afterNavigate } from "$app/navigation";

  afterNavigate(() => {
    if(!window) return;
    window.scrollTo(0,0);
  });
</script>

<div class="w-full h-full flex flex-col relative">
	<CoverPage />
	<Menu />
	<main class="relative flex-1 z-40 pt-16 min-h-screen">
		<slot />
	</main>
	<FooterInfo />
</div>
