<script lang="ts">
	import { onMount } from 'svelte';
  import posts from '$data/posts.json'
	import { base } from '$app/paths';

	let scroll = 0;
	let windowHeight = 0;
	let sectionHeight = 0;
	let section: HTMLElement;

	function manageScroll() {
		if (!window || !section) return;
		scroll = window.scrollY;
		windowHeight = window.innerHeight;
		sectionHeight = section.offsetHeight;
	}

	onMount(manageScroll);
</script>

<svelte:window on:scroll={manageScroll} />

<section class="flex items-center flex-wrap lg:px-8" bind:this={section}>
	{#each posts as post, order}
  {@const currentY = Math.max(1 - (scroll - windowHeight) / sectionHeight, 0) * (order % 2 ? 1 : 0) * 57}
		<a
      href="{base}/{post.route}"
			class="mx-auto bg-white max-w-full md:p-8"
			class:z-10={order % 2}
			style="
        width: {Math.random() * 40 + 20}vmax;
        height: {Math.random() * 20 + 20}vmax;
        transform: translateY({currentY}vh)"
		>
			<div
        class="relative w-full h-full"
      >
				<img
          class="absolute w-full h-full object-cover"
          src="{base}/images/{post.image}.jpg"
          alt="{post.alt}" />
        <h2
          class="absolute text-2xl font-bold bg-white px-4 uppercase"
          style="
            {Math.round(Math.random()) === 0 ? 'left' : 'right'}: -1rem;
            {Math.round(Math.random()) === 0 ? 'top' : 'bottom'}: 0;
          "
          >
          {post.title}
        </h2>
			</div>
			{#if Math.round(Math.random() * 3) !== 0}
				<div
					class="absolute bg-black w-full h-3"
					style="
          width: {Math.random() * 60 + 20}%;
          {Math.round(Math.random() * 2) === 0 ?
              'top: 0; transform: translateY(-50%)'
            : 'bottom: 0; transform: translateY(50%)'};
          {Math.round(Math.random() * 2) === 0 ? 'left' : 'right'}: {Math.random() * 30 - 5}%;
          "
				/>
			{/if}
		</a>
	{/each}
</section>

<style lang="postcss">
  a:hover h2 {
    @apply underline decoration-[0.75rem];
  }
</style>
