<script lang="ts">
	import { base } from "$app/paths";

  export let data: PageData;
</script>

{#if 'link' in data.post.params}
  <iframe
    title="iframe"
    class="fixed w-full h-full top-0"
    src={data.post.params.link} />
{:else if 'pdf' in data.post.params}
  <object
    title="e-book"
    class="fixed w-full h-full top-0"
    data="{base}/{data.post.params.pdf}"
    type="application/pdf">
    <p>Unable to display PDF file. <a href="/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf">Download</a> instead.</p>
  </object>
{/if}