<script lang="ts">
  import type { PageData } from './$types';
  import PanoramaSlider from "$lib/panoramaSlider.svelte";
  import ImageCarousel from '$lib/imageCarousel.svelte';
  import VideoPlayer from '$lib/videoPlayer.svelte';
  import TextPage from '$lib/textPage.svelte';
	import { base } from '$app/paths';

  const component = {
    panorama: PanoramaSlider,
    gallery: ImageCarousel,
    video: VideoPlayer,
    page: TextPage
  }

  export let data: PageData;
</script>

<div class="flex justify-end mb-6">
  <h1 class="text-3xl font-bold pr-6 pl-2 bg-white uppercase">{@html data.post.title}</h1>
</div>

<div class="md:p-8 w-full">
  {#if data.post.type !== 'gallery' && data.post.type !== 'panorama'}
    <div class="w-full aspect-video">
      <img class="w-full h-full object-cover" src="{base}/images/{data.post.image}.jpg" alt="" />
    </div>
  {/if}
  <svelte:component
    this={component[data.post.type]}
    params={data.post.params}
  />
</div>