@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space_Grotesk';
  src: local('Inter'), url('./font/SpaceGrotesk-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 1 999;
}


html {
  font-family: 'Space_Grotesk', 'Bahnschrift', 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', 'sans-serif-condensed', sans-serif;
}

html, body {
  min-height: 100vh;
}

h1, h2 {
  @apply font-bold mt-4;
}

svg {
  @apply fill-current w-full h-full;
}

p {
  @apply my-2;
}